page-projet-appartement {
    ion-label{
        color: black!important;
        font-size: 17px!important;
        font-weight: 600;
        }
        .hasErrorSty{
            background-color: rgb(185, 69, 69)!important;
        }
        .ValideSty{
            background-color: rgb(44, 207, 29)!important;
        }
}
